.box-DetailApt{
    border-radius: 15px;
    border: 1px solid #000;
    background-color: #D9ED92;
    padding: 10px;
    height: 82vh;
    overflow: auto;
    overflow-x: hidden;
}
.button-sectType-test{
    background-color: #FFFFFF;
    color: black;
    padding: 3px 10px;
    width: 120px;
    border: 1px solid #000;
    margin: 3px;
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
}
.bord-Detail-left{
    margin: 15px
}
.pic-slide{
    border-radius: 10px;
}
.imgReview-detail {
    width: 100% !important;
    height: 300px !important;
    border: 3px solid #000;
    border-radius: 30px;
    object-fit: cover;
}