.bordDomitoryManagement{
    border-radius: 15px;
    /* border: 1px solid #000; */
    background-color: #F0D7FF;
    padding: 10px;
    height: 87vh;
    /* overflow: hidden; */
    overflow-x: hidden;
}

.bordDomitoryManagement-detail-test{
    /* height: 400px; */
    /* margin: 20px; */
    overflow: auto;
    overflow-x: hidden;
}
.bordDomitoryManagement-detail-test::-webkit-scrollbar{
    width: 7px;
}
.bordDomitoryManagement-detail-test::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(0,0,0,0.3);
    border-radius: 10px;
}
.bordDomitoryManagement-detail-test::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(71, 64, 64, 0.486);
    outline: 2px solid rgb(249, 252, 254);  
}
.bordDomitoryManagement-detail-test::-webkit-scrollbar-thumb:hover{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    outline: 2px solid rgb(249, 252, 254);  
   
}

.DorManageCard{
    background-color: #240046;
    color: white ;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    height: 40%;
    width: 80%;
    /* box-shadow: 8px 3px 14px 9px rgba(0, 0, 0, 0.1); */
    overflow: auto;
    overflow-x: hidden;
}
.DorManageCard::-webkit-scrollbar{
    width: 7px;
}
.DorManageCard::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(0,0,0,0.3);
    border-radius: 10px;
    margin: 15px;
}
.DorManageCard::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(71, 64, 64, 0.164);
    outline: 2px solid rgb(249, 252, 254);  
}
.DorManageCard::-webkit-scrollbar-thumb:hover{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    outline: 2px solid rgb(249, 252, 254);  
   
}


.DorManageCard:hover{
    box-shadow: 8px 3px 14px 9px rgba(0, 0, 0, 0.658);
    cursor: pointer;
}
.imgDor{
    margin: 14px;
    height: 110px;
    width: 110px;
    border-radius: 20px;

}
.detailDorMage{
    margin-top: 10px;
    margin-left: 10px;
}