* {
  margin: 0;
  padding: 0;
  font-family: 'Rambla', sans-serif;
}

html {
  background-image: url("http://localhost:1000/MAIN_BG2.png");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
